@keyframes ldio-nxdygvas5mq {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(0.66,0.66);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }
  .ldio-nxdygvas5mq div > div {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #292664;
    animation: ldio-nxdygvas5mq 1s linear infinite;
  }.ldio-nxdygvas5mq div:nth-child(1) > div {
    left: 80px;
    top: 41px;
    animation-delay: -0.9166666666666666s;
  }
  .ldio-nxdygvas5mq > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 89px 50px;
  }.ldio-nxdygvas5mq div:nth-child(2) > div {
    left: 75px;
    top: 60px;
    animation-delay: -0.8333333333333334s;
  }
  .ldio-nxdygvas5mq > div:nth-child(2) {
    transform: rotate(30deg);
    transform-origin: 84px 69px;
  }.ldio-nxdygvas5mq div:nth-child(3) > div {
    left: 61px;
    top: 75px;
    animation-delay: -0.75s;
  }
  .ldio-nxdygvas5mq > div:nth-child(3) {
    transform: rotate(60deg);
    transform-origin: 70px 84px;
  }.ldio-nxdygvas5mq div:nth-child(4) > div {
    left: 41px;
    top: 80px;
    animation-delay: -0.6666666666666666s;
  }
  .ldio-nxdygvas5mq > div:nth-child(4) {
    transform: rotate(90deg);
    transform-origin: 50px 89px;
  }.ldio-nxdygvas5mq div:nth-child(5) > div {
    left: 22px;
    top: 75px;
    animation-delay: -0.5833333333333334s;
  }
  .ldio-nxdygvas5mq > div:nth-child(5) {
    transform: rotate(120deg);
    transform-origin: 31px 84px;
  }.ldio-nxdygvas5mq div:nth-child(6) > div {
    left: 7px;
    top: 60px;
    animation-delay: -0.5s;
  }
  .ldio-nxdygvas5mq > div:nth-child(6) {
    transform: rotate(150deg);
    transform-origin: 16px 69px;
  }.ldio-nxdygvas5mq div:nth-child(7) > div {
    left: 2px;
    top: 41px;
    animation-delay: -0.4166666666666667s;
  }
  .ldio-nxdygvas5mq > div:nth-child(7) {
    transform: rotate(180deg);
    transform-origin: 11px 50px;
  }.ldio-nxdygvas5mq div:nth-child(8) > div {
    left: 7px;
    top: 22px;
    animation-delay: -0.3333333333333333s;
  }
  .ldio-nxdygvas5mq > div:nth-child(8) {
    transform: rotate(210deg);
    transform-origin: 16px 31px;
  }.ldio-nxdygvas5mq div:nth-child(9) > div {
    left: 21px;
    top: 7px;
    animation-delay: -0.25s;
  }
  .ldio-nxdygvas5mq > div:nth-child(9) {
    transform: rotate(240deg);
    transform-origin: 30px 16px;
  }.ldio-nxdygvas5mq div:nth-child(10) > div {
    left: 41px;
    top: 2px;
    animation-delay: -0.16666666666666666s;
  }
  .ldio-nxdygvas5mq > div:nth-child(10) {
    transform: rotate(270deg);
    transform-origin: 50px 11px;
  }.ldio-nxdygvas5mq div:nth-child(11) > div {
    left: 61px;
    top: 7px;
    animation-delay: -0.08333333333333333s;
  }
  .ldio-nxdygvas5mq > div:nth-child(11) {
    transform: rotate(300deg);
    transform-origin: 70px 16px;
  }.ldio-nxdygvas5mq div:nth-child(12) > div {
    left: 75px;
    top: 21px;
    animation-delay: 0s;
  }
  .ldio-nxdygvas5mq > div:nth-child(12) {
    transform: rotate(330deg);
    transform-origin: 84px 30px;
  }
  .loadingio-spinner-spin-lnkjitvlgc {
    width: 37px;
    height: 37px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    background: #f1f2f3;
  }
  .ldio-nxdygvas5mq {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.37);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-nxdygvas5mq div { box-sizing: content-box; }
  /* generated by https://loading.io/ */